
/* line 32, ../sass/screen.scss */
.content {
  width: 80%;
  max-width: 960px;
  margin: 50px auto 0px auto; }

/* line 51, ../sass/screen.scss */
.social {
  margin-top: 30px;
  text-align: center;
  font: 100 72px 'Raleway', sans-serif;
  color: white;
  font-size: 36px; }
  /* line 56, ../sass/screen.scss */
  .social li {
    list-style: none;
    margin-bottom: 10px; }
  /* line 60, ../sass/screen.scss */
  .social a {
    color: white;
    text-decoration: none;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
     }
  /* line 64, ../sass/screen.scss */
  .social i {
    margin-right: 10px; }